body { 
  font-family: 'Open Sans', sans-serif; 
  font-size:18px; 
  margin:2.5%; 
  font-weight:300;
  min-width:800px;
}

* { box-sizing: border-box; }


h1, h2 { line-height:1em; margin:0; font-size: 2em; font-weight:bold;}
h2 { font-size:1em; text-transform:uppercase; font-weight:300;}
p { padding:0px; }


.split-header {
  display:flex;
  &__left { flex:0 0 50%; text-align:left;}
  &__right { flex:0 0 50%; text-align:right;}
  
}

.grading {
  padding-top:20px;

  &__form { 
    display:flex;
    height:75px;
  }
  
  &__header {
    display:flex;  
  }
  
  &__head {
    width:20%; 
    text-align:left; 
    flex:0 0 20%;
    padding-right:20px;  
    
    h1 { font-size:1em;  margin: 10px 0 0 0;}
    h2 { text-transform: none; padding-top:4px; font-size:.75em; font-weight:normal;  margin:0;}
  }
  
  &__labels { 
    flex: 0 0 80%;
    width:80%;
    
    
    display:flex;
    justify-content: space-between;
    
    margin-left:0; 
    list-style:none;
    margin-top:0px;
    margin-bottom:0px;
  }
  

  
  &__label {
    
    flex: 0 1 10%;

    text-align:center;
    font-size:.65em; 
    font-weight:bold; 
    letter-spacing:.1em; 
    text-transform:uppercase;
    
    &--lg {
      flex: 0 1 20%;
    }
    
    &--xl {
      flex: 0 1 30%;
      
      
    }
  }
  
  &__grades {
    flex: 0 0 80%;
    width:80%;
    
    display:flex;
    justify-content: space-between;
         

  }

  &__box {
    flex: 0 0 auto;
    
    margin:17px 10px 0 10px; 
    font-size:.75em;  
    font-weight:600;

    &--disabled {
      font-weight:300;
      opacity:0.3;
    }
  }

  &__radio { 
    margin-right:6px;
  }

  &__border {
    border-top:1px solid black; 
    padding:20px 0 0 20px;
  }

/*  form .bold {font-weight:bold; font-size:1em; margin:11px 10px 0 10px;} */



}

.evaluation {
  display:flex;

  &__entry {
    flex:1 0 50%;
    width: 50%;
  }

  &__suggestions {
    flex:1 0 50%;
    width: 50%;
  }


  &__input {
    height:100px;
    width:100%;
    font-size:16px;
    border:1px solid black;
  }

}


.list {
  list-style-type:none;
  padding:0px;
  margin:0px;

  &__title { 
    padding-top:20px;
    font-weight:bold; 
    padding-bottom:5px; 
  }

  &__item { 
    padding:0px;
    margin:0px;
    padding-bottom:10px; 

    input { width:500px; }
  }

  &__link {
    text-decoration:none;
    color:black;

  }

}


.form {
  padding:0px;
  margin:0px;
  list-style-type:none;

  &__errors {
    color:red;

  }

  &__field {
    padding-top:10px;
  }

  &__label {
    display:block;
  }


  input, textarea {
    width:500px;
  }

  textarea {
    height:150px;

  }

}

@media screen and (max-device-width: 600px) {
  
  .grading__header { display:none; }
  
  .grading__form { 
    flex-wrap: wrap; 
    height:auto;
    
  }
  .grading__head { flex:0 0 100%; }
  
  .grading__box { flex: 0 0 100%; font-size:30px; }
  .grading__box.grading__box--disabled { display:none; }
}
